@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,600;1,900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
nav ul li a {
  color: gray !important;
}
nav ul li a:hover {
  color: #002259 !important;
}
circle{
  background-color: #f5f7fd;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: -10;
}
circle.align-left{
  margin: 80px;
  margin-left: -150px;
}
.smal{
  justify-content: start;
  display: grid;
}

.active{
  color: #002259 !important;
}
.no-border {
  border: none;
}
.no-border:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow:none !important;
  box-shadow: none !important;
  outline: 0;
}
.mybtn {
  background-color: #002259;
  color: white;
  border-radius: 100px;
  border: 1px solid #002259;
  transition: 0.2s ease-in-out;
}
.mybtn:hover {
  color: #002259;
  background-color: white;
  border: 1px solid #002259;
}
.mybtn2 {
  background-color: #002259;
  color: white;
  border-radius: 100px;
  border: 1px solid #002259;
  transition: 0.4s ease-in-out;
}
.abcd{
  justify-content: right;
  display: grid;
}
.mybtn2:hover {
  color: #002259;
  background-color: transparent;
  border: 1px solid #002259;
  transform: scale(1.01);
  transition: 0.4s ease-in-out;
}
.mybtn2:hover .mys{
  transform: scale(1.01);
}
.small {
  font-size: 0.1rem;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px 1px rgb(175, 175, 175);
}
.hid{
  display: none;
  font-weight: 700;
  color: #002259;
}
.title{
  font-weight: 750;
}
.inside_title{
  color: gray;
  padding-right: 200px;
}

.link {
  text-decoration: none;
  color: rgb(65, 65, 65);
}
.link:hover {
  color: rgb(65, 65, 65);
}
.texx {
  font-size: 0.8rem;
  font-weight: 600;
}
.foot-up-img{
  margin-bottom: -0.8rem;
}
.footerr{
  background-color: #002259;
}
.myfield{
  padding: 12px;
  background-color: rgb(255, 255, 255);
}
.myfield:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow:none !important;
  box-shadow: none !important;
  outline: 0;
  background-color: rgb(255, 255, 255);
}
::placeholder{
  color: rgb(109, 109, 109) !important;
}
::-moz-placeholder{
  color: rgb(109, 109, 109) !important;
}
::-webkit-input-placeholder{
  color: rgb(109, 109, 109) !important;
}
.bottex{
  font-size: 1rem;
  font-weight: 300;
}
.text-mine{
  color: #d4d4d4;
}
.justifyy{
  text-align: justify;
  -moz-text-align:justify;
  -webkit-text-align:justify;
}
.list{
  display: flex;
  flex-direction: column;
}
.list a{
  text-decoration: none;
  color: rgb(192, 192, 192);
  padding: 3px 0px;
}
.footerr{
  padding-bottom: 50px;
}
.myback{
  padding: 200px;
  margin-top: 200px;
  background-color: #0062ff15;
  border-radius: 10px;
}
@media(max-width:1024px){
  circle{
    display: none;
  }
  .inside_title{
    color: gray;
    padding-right: 50px;
  }
}
@media(max-width:1158px){
  .foot-up-img{
    margin-bottom: -20px;
  }
}
@media (max-width: 700px) {
  .footerr{
    padding-bottom: 100px;
  }
  .inside_title{
    color: gray;
    padding-right: 0px;
  }
  .efd{
    display: none;
  }
  .main{
    background: none !important;
  }
  .fix{
    position: fixed;
    top: 0;
  }
  #aa{
    display: none;
  }
  .myimage {
    display: none;
  }
  .hid {
    display: block;
  }
  .foot {
    display: block;
  }
  .mysvg {
    padding: 0 !important;
    padding-top: 2px !important;
    height: 12px;
  }
  .myshad{
      background-color: #f8f9fa!important;
  }
  .title{
    font-size: 1.6rem;
    font-weight: bold;
  }
}